#image-canvas {
	position: relative;
	width: 100%;
	max-width: 800px;
}
	#image-canvas img {
		width: 100%;
		vertical-align: bottom;
	}
#focalpoint {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	background: red;
	border: 4px solid darkred;
	box-shadow: 0 0 5px 2px red;
	border-radius: 50%;
}
.editor-image-canvas {
	width: 100%;
	margin: 2px 0 5px 0;
}